<!DOCTYPE html>
<html>
<head>
	<title>拍賣網站-訂購填單系統成功</title>

	<!-- Bootstrap core CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load staticfiles %}
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <!-- <link href="{% static 'resume/css/bootstrap.min.css' %}" rel="stylesheet"> -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	  <!-- Custom styles for this template -->
	  <!-- <link href="{% static 'signin.css' %}" rel="stylesheet"> -->
	</head>
	<body>

	  <nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="">拍賣網站</a>
	      </div>
	      <ul class="nav navbar-nav">
	      	<li><a href="{% url 'order_form' %}">填寫訂購單</a></li>
	      	<li><a href="{% url 'order_check' %}">匯款確認單</a></li>
	      	<li><a href="{% url 'order_second_check' %}">第二次匯款確認單</a></li>
	        <li><a href="{% url 'search' %}">訂單追蹤系統</a></li>
	        <!-- <li><a href="#">留言板</a></li>
	        <li><a href="#">聯絡我</a></li> -->
	      </ul>
	    </div>
	  </nav>
</head>
<body>
	<div class="container">
    	<div class="jumbotron" style="font-size: 30px">
	      <strong>拍賣網站</strong>
    	</div>
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-1"></div>
    			<div class="col-sm-10">
					<div class="alert alert-success">
					  <h3><strong>恭喜您! 完成訂單系統!</strong></h3>
					  <h3><strong><b>訂單號碼</b></strong></h3>
					  <h3><spam class="label label-info">{{ order_number }}</spam></h3>

					  <h3><strong><b>匯款資訊</b></strong></h3>
					  <h3><spam class="label label-info">{{remittance_information}}</spam></h3>
					</div>

					<div class="alert alert-info">
					  <strong>訂單資訊!!</strong>
					  <table class="table table-striped">
					    <thead>
					      <tr>
					        <th>訂單項目</th>
					        <th>訂單內容</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>商品名稱</td>
					        <td>{{ product }}</td>
					      </tr>
					      <tr>
					        <td>姓名</td>
					        <td>{{ name }}</td>
					      </tr>
					      <tr>
					        <td>手機號碼</td>
					        <td>{{ phone }}</td>
					      </tr>
					      <tr>
					        <td>Email</td>
					        <td>{{ email }}</td>
					      </tr>
					      <tr>
					        <td>選擇寄件方式</td>
					        <td>{{ post_method }}</td>
					      </tr>
					      <tr>
					        <td>7-11店到店 - 門市店名</td>
					        <td>{{ store_name }}</td>
					      </tr>
					      <tr>
					        <td>7-11店到店 - 門市店號</td>
					        <td>{{ store_id }}</td>
					      </tr>
					      <tr>
					        <td>郵局 - 郵遞區號 + 收件地址</td>
					        <td>{{ address }}</td>
					      </tr>
					      <tr>
					        <td>Facebook名稱</td>
					        <td>{{ facebook }}</td>
					      </tr>
					      <tr>
					        <td>匯款單位</td>
					        <td>{{ bank }}</td>
					      </tr>
					      <tr>
					        <td>匯款帳號後5碼</td>
					        <td>{{ last_5_digits }}</td>
					      </tr>
					      <tr>
					        <td>備註</td>
					        <td>{{ notes }}</td>
					      </tr>
					      <tr>
					        <td>同意</td>
					        {% if is_argee == on %}
					        	<td>是</td>
					        {% else %}
					        	<td>否</td>
					        {% endif %}
					      </tr>
					    </tbody>
					  </table>
					</div>
    			</div>
    			<div class="col-sm-1"></div>
    		</div>
    	</div>
    </div><br><br><br><br><br>

	<div class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container">
	      <p class="navbar-text pull-left">
	      著作權© 2018 拍賣網站 <b>x</b> linth。版權所有。All Right Reserved.</p>
	  </div>
	</div>


</body>
</html>
